<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="23" android:compileSdkVersionCodename="6.0-2438415" android:installLocation="auto" package="org.inaturalist.android" platformBuildVersionCode="343" platformBuildVersionName="1.11.19">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-feature android:name="android.hardware.location.gps"/>
    <permission android:name="org.inaturalist.android.permission.MAPS_RECEIVE" android:protectionLevel="signature"/>
    <uses-permission android:name="org.inaturalist.android.permission.MAPS_RECEIVE"/>
    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <permission android:name="org.inaturalist.android.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="org.inaturalist.android.permission.C2D_MESSAGE"/>
    <application android:allowBackup="true" android:icon="@drawable/ic_launcher" android:label="@string/app_name" android:largeHeap="true" android:name="org.inaturalist.android.INaturalistApp" android:supportsRtl="true" android:theme="@style/iNatAppTheme">
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="@string/gmaps2_api_key"/>
        <activity android:configChanges="orientation" android:exported="true" android:label="@string/app_name" android:name="org.inaturalist.android.TutorialActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".ObservationListActivity"/>
        </activity>
        <activity android:configChanges="orientation" android:exported="true" android:name="org.inaturalist.android.DataQualityAssessment">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".ObservationViewerActivity"/>
        </activity>
        <activity android:configChanges="orientation" android:exported="true" android:label="@string/guides" android:name="org.inaturalist.android.GuideDetails">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".GuidesActivity"/>
        </activity>
        <activity android:configChanges="orientation" android:exported="true" android:label="@string/app_name" android:name="org.inaturalist.android.UserActivity"/>
        <activity android:configChanges="orientation" android:exported="true" android:label="@string/app_name" android:name="org.inaturalist.android.GuideTaxonActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".GuideDetails"/>
        </activity>
        <activity android:configChanges="orientation" android:exported="true" android:name="org.inaturalist.android.UserProfile" android:theme="@style/Theme.AppCompat.Light.NoActionBar" android:windowActionBar="false"/>
        <activity android:configChanges="orientation" android:exported="true" android:label="@string/projects" android:name="org.inaturalist.android.ProjectDetails" android:theme="@style/Theme.AppCompat.Light.NoActionBar" android:windowActionBar="false">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".ProjectsActivity"/>
        </activity>
        <activity android:configChanges="orientation" android:exported="true" android:label="@string/projects" android:name="org.inaturalist.android.ProjectsActivity"/>
        <activity android:configChanges="orientation" android:exported="true" android:label="@string/guides" android:name="org.inaturalist.android.GuidesActivity"/>
        <activity android:configChanges="orientation" android:exported="true" android:label="@string/app_name" android:name="org.inaturalist.android.ProjectSelectorActivity" android:theme="@style/iNatAppThemeCustomActionBar" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="orientation" android:exported="true" android:label="@string/add_id" android:name="org.inaturalist.android.IdentificationActivity"/>
        <activity android:configChanges="orientation" android:exported="true" android:label="@string/app_name" android:name="org.inaturalist.android.TaxonSearchActivity"/>
        <activity android:configChanges="orientation" android:exported="true" android:name="org.inaturalist.android.LoginSignupActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustNothing"/>
        <activity android:configChanges="orientation" android:exported="true" android:name="org.inaturalist.android.ObservationViewerActivity"/>
        <activity android:configChanges="orientation" android:exported="true" android:name="org.inaturalist.android.OnboardingActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="orientation" android:exported="true" android:label="@string/app_name" android:name="org.inaturalist.android.ObservationListActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity-alias android:configChanges="orientation" android:enabled="false" android:label="@string/network_inaturalistpanama" android:name="org.inaturalist.android.ObservationListActivity.inaturalistpanama" android:targetActivity="org.inaturalist.android.ObservationListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:configChanges="orientation" android:enabled="false" android:label="@string/network_biodiversity4all" android:name="org.inaturalist.android.ObservationListActivity.biodiversity4all" android:targetActivity="org.inaturalist.android.ObservationListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:configChanges="orientation" android:enabled="false" android:label="@string/network_naturewatchnz" android:name="org.inaturalist.android.ObservationListActivity.naturewatchnz" android:targetActivity="org.inaturalist.android.ObservationListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:configChanges="orientation" android:enabled="false" android:label="@string/network_naturewatchnz" android:name="org.inaturalist.android.ObservationListActivity.naturewatchnz" android:targetActivity="org.inaturalist.android.ObservationListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:configChanges="orientation" android:enabled="false" android:label="@string/network_naturalista" android:name="org.inaturalist.android.ObservationListActivity.naturalista" android:targetActivity="org.inaturalist.android.ObservationListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:configChanges="orientation" android:enabled="false" android:label="@string/network_naturalistacolombia" android:name="org.inaturalist.android.ObservationListActivity.naturalistacolombia" android:targetActivity="org.inaturalist.android.ObservationListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:configChanges="orientation" android:enabled="false" android:label="@string/network_inaturalistcanada" android:name="org.inaturalist.android.ObservationListActivity.inaturalistcanada" android:targetActivity="org.inaturalist.android.ObservationListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:configChanges="orientation" android:enabled="true" android:label="@string/app_name" android:name="org.inaturalist.android.ObservationListActivity.inaturalist" android:targetActivity="org.inaturalist.android.ObservationListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity android:configChanges="orientation" android:exported="true" android:label="@string/app_name" android:name="org.inaturalist.android.ObservationEditor" android:theme="@style/iNatAppThemeCustomActionBar">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".ObservationListActivity"/>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.EDIT"/>
                <action android:name="android.intent.action.INSERT"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="vnd.android.cursor.item/vnd.google.observation"/>
                <data android:mimeType="vnd.android.cursor.dir/vnd.google.observation"/>
                <data android:mimeType="vnd.android.cursor.item/vnd.google.observation_photo"/>
                <data android:mimeType="vnd.android.cursor.dir/vnd.google.observation_photo"/>
                <data android:mimeType="vnd.android.cursor.item/vnd.google.inatproject"/>
                <data android:mimeType="vnd.android.cursor.dir/vnd.google.inatproject"/>
                <data android:mimeType="vnd.android.cursor.item/vnd.google.projectobservation"/>
                <data android:mimeType="vnd.android.cursor.dir/vnd.google.projectobservation"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/*"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize" android:exported="true" android:label="@string/app_name" android:name="com.facebook.FacebookActivity" android:theme="@style/com_facebook_activity_theme"/>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <activity android:configChanges="orientation" android:exported="true" android:label="@string/choose_location" android:name="org.inaturalist.android.LocationChooserActivity"/>
        <activity android:configChanges="orientation" android:exported="true" android:label="@string/activity" android:name="org.inaturalist.android.WebActivity"/>
        <activity android:configChanges="orientation" android:exported="true" android:name="org.inaturalist.android.ObservationPhotosViewer"/>
        <activity android:configChanges="orientation" android:exported="true" android:name="org.inaturalist.android.TaxonTagPhotosViewer"/>
        <activity android:configChanges="orientation" android:exported="true" android:name="org.inaturalist.android.LocationDetailsActivity"/>
        <activity android:configChanges="orientation" android:exported="true" android:name="org.inaturalist.android.ObservationProjectsViewer"/>
        <activity android:configChanges="orientation" android:exported="true" android:name="org.inaturalist.android.ProjectDetailsAbout"/>
        <activity android:configChanges="orientation" android:exported="true" android:name="org.inaturalist.android.ProjectNews"/>
        <activity android:configChanges="orientation" android:exported="true" android:name="org.inaturalist.android.NewsArticle"/>
        <activity android:configChanges="orientation" android:exported="true" android:name="org.inaturalist.android.ProfilePhotoViewer"/>
        <activity android:configChanges="orientation" android:exported="true" android:name="org.inaturalist.android.ItemSearchActivity"/>
        <activity android:configChanges="orientation" android:exported="true" android:name="org.inaturalist.android.SettingsActivity"/>
        <provider android:authorities="org.inaturalist.android.observation;org.inaturalist.android.observation_photo;org.inaturalist.android.project;org.inaturalist.android.project_observation;org.inaturalist.android.project_field;org.inaturalist.android.project_field_value" android:name="org.inaturalist.android.ObservationProvider"/>
        <activity android:configChanges="orientation" android:exported="true" android:name="org.inaturalist.android.ProfileEditor"/>
        <activity android:configChanges="orientation" android:exported="true" android:name="org.inaturalist.android.NetworkSettings"/>
        <activity android:configChanges="orientation" android:exported="true" android:name="org.inaturalist.android.About"/>
        <activity android:configChanges="orientation" android:exported="true" android:name="org.inaturalist.android.ObservationSearchActivity"/>
        <activity android:configChanges="orientation" android:exported="true" android:label="@string/missions" android:name="org.inaturalist.android.MissionsActivity"/>
        <activity android:configChanges="orientation" android:exported="true" android:label="@string/missions" android:name="org.inaturalist.android.MissionsGridActivity"/>
        <activity android:configChanges="orientation" android:exported="true" android:label="" android:name="org.inaturalist.android.MissionDetails" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:configChanges="orientation" android:exported="true" android:label="" android:name="org.inaturalist.android.MissionDetailsMapActivity"/>
        <activity android:configChanges="orientation" android:exported="true" android:label="" android:name="org.inaturalist.android.MissionsOnboardingActivity"/>
        <activity android:configChanges="orientation" android:exported="true" android:label="" android:name="org.inaturalist.android.TaxonActivity"/>
        <activity android:configChanges="orientation" android:exported="true" android:label="" android:name="org.inaturalist.android.TaxonMapActivity"/>
        <activity android:configChanges="orientation" android:exported="true" android:label="" android:name="org.inaturalist.android.TaxonSuggestionsActivity"/>
        <activity android:configChanges="orientation" android:exported="true" android:label="" android:name="org.inaturalist.android.CompareSuggestionActivity"/>
        <activity android:exported="true" android:label="" android:name="org.inaturalist.android.ExploreActivity"/>
        <activity android:configChanges="orientation" android:exported="true" android:label="" android:name="org.inaturalist.android.ExploreSearchActivity"/>
        <activity android:configChanges="orientation" android:exported="true" android:label="" android:name="org.inaturalist.android.ExploreFiltersActivity"/>
        <service android:exported="true" android:name="org.inaturalist.android.INaturalistService"/>
        <meta-data android:name="com.crashlytics.ApiKey" android:value="7baaee0ca8a376b3d129b908c1e03be6ecbe5786"/>
        <activity android:exported="true" android:name="com.facebook.CustomTabMainActivity"/>
        <activity android:exported="true" android:name="com.facebook.CustomTabActivity"/>
        <receiver android:name="com.google.android.gms.cast.framework.media.MediaIntentReceiver"/>
        <service android:exported="true" android:name="com.google.android.gms.cast.framework.media.MediaNotificationService"/>
        <service android:exported="true" android:name="com.google.android.gms.cast.framework.ReconnectionService"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:exported="true" android:name="com.google.android.gms.ads.AdActivity" android:theme="@android:style/Theme.Translucent"/>
        <activity android:exported="true" android:name="com.google.android.gms.ads.purchase.InAppPurchaseActivity" android:theme="@style/Theme.IAPTheme"/>
        <activity android:exported="true" android:name="com.google.android.gms.appinvite.PreviewActivity" android:theme="@style/Theme.AppInvite.Preview">
            <intent-filter>
                <action android:name="com.google.android.gms.appinvite.ACTION_PREVIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:excludeFromRecents="true" android:exported="true" android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <service android:exported="true" android:name="com.google.android.gms.auth.api.signin.RevocationBoundService" android:permission="com.google.android.gms.auth.api.signin.permission.REVOCATION_NOTIFICATION"/>
        <activity android:exported="true" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <service android:exported="true" android:name="com.google.firebase.messaging.FirebaseMessagingService">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:enabled="true" android:exported="true" android:name="com.google.android.gms.tagmanager.TagManagerService"/>
        <activity android:exported="true" android:name="com.google.android.gms.tagmanager.TagManagerPreviewActivity" android:noHistory="true">
            <intent-filter>
                <data android:scheme="tagmanager.c.org.inaturalist.android"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>
        <receiver android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementReceiver"/>
        <receiver android:enabled="true" android:name="com.google.android.gms.measurement.AppMeasurementInstallReferrerReceiver" android:permission="android.permission.INSTALL_PACKAGES">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <service android:enabled="true" android:exported="true" android:name="com.google.android.gms.measurement.AppMeasurementService"/>
        <receiver android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="org.inaturalist.android"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="false" android:name="com.google.firebase.iid.FirebaseInstanceIdInternalReceiver"/>
        <service android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdService">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <provider android:authorities="org.inaturalist.android.firebaseinitprovider" android:exported="false" android:initOrder="100" android:name="com.google.firebase.provider.FirebaseInitProvider"/>
        <provider android:authorities="org.inaturalist.android.MarketingInitProvider" android:exported="false" android:name="com.facebook.marketing.internal.MarketingInitProvider"/>
        <provider android:authorities="org.inaturalist.android.FacebookInitProvider" android:exported="false" android:name="com.facebook.internal.FacebookInitProvider"/>
        <receiver android:exported="false" android:name="com.facebook.CurrentAccessTokenExpirationBroadcastReceiver">
            <intent-filter>
                <action android:name="com.facebook.sdk.ACTION_CURRENT_ACCESS_TOKEN_CHANGED"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>